<style>
    .fa,
    .fas {
        color: #858585;
    }

    .fa-folder {
        color: rgb(74, 158, 255);
    }

    i.fa,
    table i.fas {
        font-size: 16px;
        margin-right: 6px;
    }

    i.action {
        cursor: pointer;
    }

    a {
        color: black;
    }
</style>
<div class="container">
    <div class="row align-items-center py-5">
        <div class="col-6">
            <h3>
                File Manager</h2>
        </div>
        <div class="col-6">
            <div class="dropdown text-right">
                Xin chào <a class="dropdown-toggle text-primary" data-toggle="dropdown">{{name}}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-info-circle"></i>
                        &nbsp;&nbsp;Cập nhật thông tin
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Products</a></li>
        <li class="breadcrumb-item active">Accessories</li>
    </ol>
    <div class="border rounded mb-3 mt-5 p-3">
        <h4>File upload</h4>
        <form action="/upload?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="uploadFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <button class="btn btn-success px-5" type="submit">Upload</button>
        </form>
    </div>
</div>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>